/* -------- Global CSS Start -------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}
.container {
  max-width: 1280px;
  margin: auto;
  padding: 0 10px;
}
.flex {
  display: flex;
}
.item-center {
  align-items: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.justify-end {
  justify-content: flex-end;
}
.w-full {
  width: 100%;
}
.w-10 {
  width: 10%;
}
.w-20 {
  width: 20%;
}
.w-30 {
  width: 30%;
}
.w-40 {
  width: 40%;
}
.w-50 {
  width: 50%;
}
.w-60 {
  width: 60%;
}
.w-70 {
  width: 70%;
}
.w-80 {
  width: 80%;
}
.w-90 {
  width: 90%;
}
:root {
  --themecolor: #4581fb;
  --textcolor: #2c3d5f;
  --lightgraycolor: rgb(44 61 95 / 50%);
}
/* globle css end*/
body {
  background: #f4f8f9;
}
/* three pages header*/

/* Logo */
header .logo {
  padding: 10px;
  width: 84px;
  height: auto;
}
.header > .wrapper {
  padding: 20px;
}
/* Navigation */
.main-header nav ul {
  gap: 20px;
}
.main-header nav ul li {
  list-style: none;
}
.main-header nav ul li a {
  text-decoration: none;
  color: var(--textcolor);
}
.main-header nav ul li a.active {
  color: var(--themecolor);
  position: relative;
}
.main-header nav ul li a.active::after {
  content: "";
  position: absolute;
  left: -8px;
  bottom: -3px;
  width: 10px;
  height: 10px;
  background: url(../images/charf.png) no-repeat;
}
/* Icons */
header .icons {
  gap: 15px;
  cursor: pointer;
}
/*section*/
.banner .hero {
  padding: 50px 10px;
  min-height: 100vh;
  box-sizing: border-box;
}
.banner .hero-content {
  max-width: 421px;
  width: 100%;
}
.banner .hero .hero-content .heading {
  font-size: 75px;
  line-height: 1.2;
  margin: 0 0 20px;
  font-weight: 600;
  color: var(--textcolor);
}
.hero-content h1 span {
  color: var(--themecolor); /* Blue */
}
.para {
  font-weight: 400;
  color: var(--textcolor);
  font-size: 16px;
  margin-bottom: 30px;
}
.btn-now {
  display: inline-block;
  background: var(--themecolor);
  color: #fff;
  font-weight: 500;
  padding: 14px 30px;
  border-radius: 15px;
  text-decoration: none;
  margin-bottom: 75px;
}
.banner {
  position: relative;
  overflow: hidden;
}
.hero-image {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  max-width: 796px;
}
.hero-image img {
  max-width: 100%;
}
/* Slider dots */
.slider-dots {
  margin-top: 40px;
  gap: 8px;
}
.slider-dots span {
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #d1d5db;
}
.slider-dots span.active {
  background: var(--themecolor);
  width: 30px;
  border-radius: 8px;
}

/*grid-work start*/
.categories {
  padding: 60px 0;
}
.grid-section {
  display: grid;
  grid-template-areas:
    "sale women men accessories"
    "new  women shoes shoes";
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 300px;
  gap: 20px;
  justify-content: center;
}
.cards {
  position: relative;
  overflow: hidden;
}
.cards img {
  width: 100%;
  object-fit: cover;
  display: block;
}
.cards figcaption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  width: 160px;
  height: 57px;
  font-weight: 500;
  font-size: 16px;
  color: #000;
  border-radius: 8px;
  text-align: center;
  opacity: 0.9;
}
.sale {
  grid-area: sale;
}
.new {
  grid-area: new;
}
.women {
  grid-area: women;
}
.men {
  grid-area: men;
}
.accessories {
  grid-area: accessories;
}
.shoes {
  grid-area: shoes;
}
/* grid work complete */
/*=============best seller==============*/
.best-sellers {
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
  margin-top: 40px;
  padding: 100px 0 20px 0;
}
.heading-area {
  text-align: center;
  margin-bottom: 40px;
}
/*============ Heading ===============*/
.heading-area h2 {
  font-weight: 600;
  font-size: 50px;
  margin-bottom: 10px;
}
.heading-area h2 span {
  color: var(--themecolor);
}
.heading-area p {
  font-size: 24px;
  color: var(--textcolor);
  margin-bottom: 40px;
}
/* ======== Products flexbox ========= */
.products {
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
}
.best-products {
  background-color: #fff;
  box-shadow: 0 0 1.5px rgba(0, 0, 0, 0.05);
  margin-top: 20px;
  padding: 50px 0;
}
.product {
  width: calc(100% / 4 - 15px);
  margin-bottom: 40px;
  text-align: center;
}
.prd-img-wrap {
  position: relative;
  display: inline-block; /* wrapper sirf image jitna hi hoga */
  overflow: hidden;
  border-radius: 7px;
  width: 100%;
  max-height: 350px;
}
.prd-img-wrap img {
  display: block;
  width: 100%;
}
/* Overlay */
.options {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* image jitna */
  height: 100%; /* image jitna */
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
  flex-direction: column; /* column me arrange */
  align-items: flex-end; /* right side */
  justify-content: flex-start; /* upar se start */
  padding: 10px;
  gap: 8px; /* icons ke beech gap */
  box-sizing: border-box;
}
.prd-img-wrap:hover .options {
  opacity: 1;
}
/* Common icon style */
.options .searchs,
.options .cart {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  cursor: pointer;
}
/* Cart icon (theme background) */
.options .cart {
  background: var(--themecolor);
  border: 2px solid #fff;
}
/* Search icon (no background) */
.options .searchs {
  background: none;
  border: none;
}
.options .searchs img,
.options .cart img {
  width: 14px;
}
.prd-img {
  width: 100%;
}
.product img.stars {
  width: 107px;
  margin: 10px auto;
  display: block;
}
.product p {
  font-size: 16px;
  color: var(--textcolor);
  margin: 8px 0;
}
.product img.main-img {
  width: 100%;
  object-fit: cover;
  border: none;
  border-radius: 4px;
}
.product h3 {
  font-size: 24px;
  font-weight: 600;
  color: var(--themecolor);
  margin-top: 5px;
}
/*filter bar*/
.filter-bar {
  margin-left: 15px;
  margin-bottom: 25px;
  font-size: 16px;
  color: var(--textcolor);
  outline: none;
}
/* select box design */
.filter-left select {
  padding: 6px 12px;
  border: none;
  outline: none;
  font-size: 14px;
  cursor: pointer;
}
/* ---------- First Section (3 Images Row) ---------- */
.image-cards {
  gap: 15px;
  margin-top: 60px;
  margin-bottom: 60px;
}
.image-box {
  max-width: 413px;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.image-box img {
  object-fit: cover;
  display: block;
}
.image-box span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  width: 160px;
  height: 57px;
  font-weight: 500;
  font-size: 16px;
  color: #000;
  border-radius: 8px;
  text-align: center;
  opacity: 0.9;
}
/*--------------------- Blog Section -------------*/
.blog-header {
  margin-bottom: 40px;
  padding-top: 15px;
  text-align: center;
}
.blog-header h2 {
  font-size: 50px;
  margin: 0;
  font-weight: 600;
}
.blog-header h2 span {
  color: var(--themecolor);
}
.blog-header p {
  margin-top: 8px;
  color: var(--textcolor);
  font-size: 24px;
}
.blog-cards {
  gap: 20px;
  padding-bottom: 30px;
}
.blog-cards {
  flex-direction: column;
  width: calc((100% / 3) - 15px);
  border-radius: 12px;
  background: #fff;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
}
.Latest-Blog img {
  padding-top: 20px;
  padding-left: 19px;
}
.blog-content {
  padding: 16px;
  flex-direction: column;
  gap: 10px;
}
.blog-content h3 {
  font-weight: 500;
  font-size: 18px;
}
.line {
  width: 34px;
  height: 2px;
  background: var(--themecolor);
  border-radius: 2px;
}
.blog-content p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 16px;
  color: var(--lightgraycolor);
}
.images {
  gap: 12px;
  font-size: 16px;
  color: var(--textcolor);
  margin-top: 12px;
}
.images span {
  gap: 5px;
}
.images img{
  width: 22px;
  height: 22px;
}
.read-btn {
  background: var(--themecolor);
  color: #fff;
  border: none;
  padding: 10px 0;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}
/* ------------------- number ---------------- */
.numbers {
  gap: 20px;
  padding: 30px 0;
}
.page {
  padding: 8px 14px;
  border-radius: 50%;
  cursor: pointer;
  width: 35px;
  color: var(--textcolor);
}
.page-active {
  background-color: var(--themecolor);
  color: white;
  width: 34px;
  height: 34px;
  border-radius: 50px;
}
.arrows {
  padding: 8px 14px;
  border-radius: 50%;
  cursor: pointer;
  gap: 5px;
}
/* Product Section */
.page-bg {
  background: #fff;
  padding: 60px 20px 60px 20px;
  position: relative;
  overflow: visible;
  margin-top: 20px;
}
.product-section {
  gap: 20px;
}
.small-images img {
  width: 118px;
  display: block;
  margin-bottom: 17px;
}
.big-img {
  position: relative;
  margin-bottom: 20px;
  text-align: center;
}
.big-img img {
  width: 100%;
  display: block;
  margin: auto;
}
.product-icons {
  position: absolute;
  top: 10px;
  right: 10px;
}
.product-icons .search {
  overflow: hidden;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: #fff;
  border: none;
}
.product-icons .search img {
  width: 18px;
  height: 18px;
}
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 0;
}
/* ===== Left arrow button ===== */
.arrow.left {
  left: 10px;
  background: #fff;
}
.arrow.right {
  right: 10px;
  background: var(--themecolor);
}
.arrow img {
  width: 18px;
}
/* Product Info */
.product-info {
  padding: 5px 20px;
  margin-left: 10px;
}
.info-line {
  font-size: 16px;
  color: var(--textcolor);
  margin: 6px 0;
  padding-bottom: 5px;
}
.info-line .gray {
  color: var(--lightgraycolor);
  padding-bottom: 10px;
  margin-left: 60px;
}
.info-line .gray2 {
  margin-left: 8px;
  color: var(--lightgraycolor);
  padding-bottom: 10px;
}
.info-line .gray3 {
  margin-left: 39px;
  color: var(--lightgraycolor);
  padding-bottom: 10px;
}
.product-info h1 {
  font-size: 30px;
  font-weight: 500;
  color: var(--textcolor);
  padding-bottom: 8px;
}
.product-info .price {
  font-size: 30px;
  color: var(--themecolor);
  font-weight: 600;
  padding-bottom: 7px;
}
.product-info .tax {
  font-weight: 400;
  color: var(--lightgraycolor);
  padding-bottom: 17px;
}
.rating img {
  margin-right: 10px;
  padding-bottom: 15px;
}
.reviews {
  color: var(--themecolor);
  margin-left: 10px;
  text-decoration: none;
  padding-bottom: 15px;
}
.colors {
  margin-bottom: 14px;
}
.colors .info-line {
  margin-right: 50px;
}
.color-options {
  gap: 10px;
  overflow: visible;
}
.color-box {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
}
.color-box.selected::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: calc(24px + 8px);
  height: calc(24px + 8px);
  border-radius: 50%;
  border: 2px solid var(--themecolor);
  box-sizing: border-box;
}
/* ===== color ===== */
.circle1 {
  background: linear-gradient(#1f1d22, #4c4b4e);
}
.circle2 {
  background: linear-gradient(#5287a1, #2a6481);
}
.circle3 {
  background: linear-gradient(#3c3f5b, #434878);
}
.circle4 {
  background: linear-gradient(#f64c4b, #d42c2b);
}
.cart-actions {
  margin: 20px 0;
  gap: 20px;
}
.quantity {
  width: 160px;
  padding: 15px;
  border-radius: 12px;
  background: #ecf0f3;
  font-size: 16px;
  font-weight: 500;
}
.btn {
  height: 52px;
  padding: 0 20px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  border-radius: 10px;
}
.btn.add {
  background: #164ab4;
  border-radius: 10px;
  color: #fff;
  width: 376px;
}
.btn.buy {
  width: 557px;
  background: var(--themecolor);
  color: #fff;
  margin-top: 15px;
}
.agree {
  margin: 15px 0;
  gap: 10px;
  color: var(--textcolor);
}
/* ==== Description ==== */
.descrip h2 {
  font-weight: 600;
  margin-bottom: 15px;
  color: var(--textcolor);
}

.descrip p {
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 40px;
  color: var(--lightgraycolor);
}
.descrip p.not {
  margin-bottom: 0;
}
/* ==== Reviews ==== */
.reviews .s {
  margin-bottom: 20px;
}
.reviews h2 {
  font-weight: 600;
  color: var(--textcolor);
}
.write-review {
  font-size: 14px;
  color: var(--themecolor);
  text-decoration: none;
}
.review-item {
  margin-bottom: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ddd;
}
.review-item h4 {
  font-weight: 500;
  color: var(--textcolor);
  margin-bottom: 5px;
  margin-left: 10px;
}
.review-item img.color {
  width: 100px;
  display: block;
  margin-left: 10px;
}
.review-item p {
  line-height: 1.6;
  font-size: 14px;
  margin-top: 10px;
  color: var(--lightgraycolor);
}
.review-item:last-child {
  border-bottom: none;
}
.review-time {
  font-size: 13px;
  color: var(--lightgraycolor);
  margin-left: auto;
}
.desc-reviews {
  max-width: 1280px;
  margin: 40px auto;
  padding: 20px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  gap: 40px;
}
/* Related */
.relateds .arrows {
  gap: 20px;
}
.relateds .arrows img {
  cursor: pointer;
}
.relateds h2 {
  font-weight: 600;
  font-size: 24px;
  color: var(--textcolor);
  margin-bottom: 20px;
}
.price {
  font-size: 18px;
  font-weight: bold;
  color: var(--themecolor);
  margin-top: 5px;
}
/* ======== footer =======*/
.arrow {
  padding: 8px 14px;
  border-radius: 50%;
  cursor: pointer;
}
.footer {
  background: #fff;
  padding: 100px 0 20px 0;
  position: relative;
  overflow: visible;
  margin-top: 60px;
}
.footer .arrow-wrapper {
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  text-align: center;
}
/* Arrow Circle */
.footer .up-arrow {
  display: inline-flex;
  background: var(--themecolor);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
}
.footer-content {
  gap: 20px;
}
.footer-column {
  line-height: 1.8;
}
.footer-column h3 {
  font-weight: 500;
  margin-bottom: 15px;
  color: var(--textcolor);
}
.footer-column .line {
  width: 50px;
  height: 3px;
  background: var(--themecolor);
  border-radius: 2px;
}
.footer-column p {
  font-size: 16px;
  color: var(--textcolor);
  margin-top: 10px;
}
.footer-column ul {
  list-style: none;
  margin-top: 10px;
  padding: 0;
}
.footer-column ul li {
  margin-bottom: 8px;
  font-size: 14px;
  color: var(--textcolor);
}
.footer-column ul li a {
  font-size: 14px;
  text-decoration: none;
  color: var(--textcolor);
}
/* Contact Column */
.contact-item {
  margin: 8px 0;
  font-size: 14px;
  color: var(--textcolor);
}
.contact-item span img {
  margin-right: 10px;
  font-size: 16px;
  color: var(--themecolor);
}
/*===================== Social Icons ======================*/
.social {
  margin-top: 15px;
  gap: 25px;
}
.social span img {
  width: 32px;
}
.footer-column .line {
  width: 50px;
  height: 3px;
  background: var(--themecolor);
  border-radius: 2px;
  margin-bottom: 10px;
}
/* Bottom Bar */
.footer-bottom {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  margin-top: 30px;
  padding-top: 15px;
  margin-bottom: 20px;
  font-size: 16px;
  color: var(--textcolor);
}
.footer-bottom .logo {
  gap: 10px;
  justify-content: flex-start;
}
.footer-bottom img {
  height: 25px;
  margin-left: 10px;
}
.mob-menu-icon {
  display: none;
  margin-right: 20px;
}
.mob-menu-icon svg {
  width: 20px;
}
/* ---------- 1024px ---------- */
@media (max-width: 1024px) {
  /* Hero heading thoda chhota */
.banner .hero .hero-content .heading {
  font-size: 60px;
}
.hero-image {
  position: relative;
}
.grid-section {
  grid-auto-rows: 200px;
}
.product-section {
  flex-direction: column;
  align-items: center;
}
.small-images {
  display: flex;
  width: 100%;
  justify-content: center;
}
.small-images img {
  width: 75px;
  height: 75px;
  object-fit: cover;
}
.big-img {
  flex: 0 0 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.big-img img {
  width: 100%;
  max-width: 380px;
  height: auto;
}
.product-info {
  width: 100%;
}
  /* Buy It Now same size as Add to Cart */
.btn.buy {
  width: 100%;
  max-width: 500px; /* optional limit */
  background: var(--themecolor);
  color: #fff;
  margin-top: 15px;
}
}

/* ---------- 992px ---------- */
@media (max-width: 992px) {
  /* Hero heading */
.banner .hero .hero-content .heading {
  font-size: 55px;
}
.hero {
  flex-direction: column;
}
.hero-image {
  position: relative;
}
  /* Categories grid adjust */
.categories .grid-section {
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 200px;
  grid-template-areas:
    "sale women"
    "new women"
    "men accessories"
    "shoes shoes";
}
.product h3 {
  font-size: 18px;
}
.product p {
  font-size: 14px;
}
.image-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 100%;
}
.blog-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.blog-cards {
  width: calc(50% - 20px); /* ek row me 2 cards */
} 
.main-img {
  max-width: 420px;
}
.btn.buy {
  width: 100%;
  max-width: 500px; 
  background: var(--themecolor);
  color: #fff;
  margin-top: 15px;
}
.footer-content {
  flex-wrap: wrap;
  gap: 0;
}
.footer-column {
  width: 50%;
}
}

/* ---------- 767px ---------- */
@media (max-width: 767px) {
  /* Header */
  /* Hero section → column */
.banner .hero {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.banner .hero-content {
  max-width: 100%;
  margin-bottom: 20px;
}
  /* Categories grid adjust */
.categories .grid-section {
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 200px;
  grid-template-areas:
    "sale women"
    "new women"
    "men accessories"
    "shoes shoes";
}
.product p {
  font-size: 12px;
}
  /* 3 images section (new arrivals / street style) → ek ek neeche */
.image-cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.img-wrapper {
  padding: 50px;
}
.image-box span {
  padding: 20px 30px;
}
.image-box {
  max-width: 480px;
  width: 100%;
}
.blog-cards {
  width: 48%;
}
.main-img {
  max-width: 100%;
}
.small-images img {
  width: 65px;
  height: 65px;
}
.btn.buy {
  width: 100%;
  max-width: 500px; /* optional limit */
  background: var(--themecolor);
  color: #fff;
  margin-top: 15px;
}
.footer {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.footer-column {
  width: 100%;
}
.products {
  justify-content: center;
}
.product {
  width: calc(100% / 3 - 15px);
}
}
/* ---------- 620px ---------- */
@media (max-width: 620px) {
  /* Hero heading aur chhoti */
.banner .hero .hero-content .heading {
  font-size: 40px;
}
.mob-menu-icon {
  display: block;
}
.header-nav {
  display: none;
}
  /* Best Seller → ab bhi 2 per row */
.product {
  width: calc(50% - 15px);
}
.related-items{
  gap: 5px;
}
.blog-cards {
  width: 100%;
}
.small-images img {
  width: 55px;
  height: 55px;
}
.btn.buy {
  width: 100%;
  max-width: 500px; /* optional limit */
  background: var(--themecolor);
  color: #fff;
  margin-top: 15px;
}
.desc-reviews {
  flex-direction: column;
}
.desc-reviews .descrip,
.desc-reviews .reviews {
  width: 100%;
}
}