/* Globle Css Start */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
  font-family: 'poppins' , sans-serif;
}

.flex{
    display: flex;
}

.items-center{
    align-items: center;
}

.justify-content{
    justify-content: center;
}
.justify-center{
    justify-content: space-between;
}

.w-full{
    width: 100%;
}

.w-20{
    width: 20%;
}
.w-30{
    width: 30%;
}
.w-40{
    width: 40%;
}
.w-50{
    width: 50%;
}
.w-60{
    width: 60%;
}
.w-70{
    width: 70%;
}
.w-80{
    width: 80%;
}
.w-90{
    width: 90%;
}
.container{
    max-width: 1280px;
    margin: auto;
}

/* Globle Css End */

.grey{
    background-color: #F4F8F9;
}

/* Logo */
.header .logo {
  padding: 5px;
  width: 84px;
  height: 51px;
  top: 23px;
  left: 80px;
}

.header > .wrappar{
  padding: 20px;
}

/* Navigation */
.main-header nav ul{
  padding: 20px;
  gap: 20px;
}
.main-header nav ul li{
  list-style: none;
}
.main-header nav ul li a{
  padding: 10px;
  text-decoration: none;
  color: #000;
}
.main-header nav ul li a.active{
  color: #4581FB;
  font-weight: 400;
}

/* Icons */
.icons{
  padding: 20px;
  gap: 15px;
  cursor: pointer;
}


/* Best Seller */
.heading-areas{
    text-align: center;
    margin-bottom: 40px;
}
/* Heading */
.heading-areas h2{
    font-size: 32px;
    margin-bottom: 10px;
}

.heading-areas h2 .bold{
    color: #4581FB;
}

.heading-areas p{
    font-size: 16px;
    color: #555;
    margin-bottom: 40px;
}

/* products-flexbox */
.products-flexbox{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;

}
.product{
    width: calc(100% / 4 - 5);
    margin-bottom: 40px;
    text-align: center;
}
.product img.main-img{
    width: 100%;
    object-fit: cover;
    border: 2px solid #ddd;
    border-radius: 4px;
}
.product img.star{
    width: 107px;
    margin: 10px auto;
    display: block;
}
.product p{
    font-size: 14px;
    color: #555;
    margin: 8px 0;
}
.product img.main-img{
    width: 100%;
    object-fit: cover;
    border: none;
    border-radius: 4px;
}
.product h3{
    font-size: 18px;
    font-weight: bold;
    color: #4581FB;
    margin-top: 5px;
}

.imgage-row{
    margin-bottom: 60px;
}

.image-box{
    width: 410px;
    position: relative;
    overflow: hidden;
}

.image-box img{
    width: 100%;
    
    object-fit: cover;
    display: flex;
}

.image-row .text-box{
    position: absolute;
    top: 45%;
    left: 30%;
    background: white;
    color: black;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.features{
    margin-bottom: 30px;
}

/* Pagination */
.pagination{
    padding: 60px 0 75px;
    gap: 70px;
    font-size: 16px;
}
.pagination .bold{
    background-color: #4581FB;
    color: #fff;
    width: 34px;
    height: 34px;
    border-radius: 50%;
}
.pagination .num-color{
    color: #34373C;
    opacity: 50%;
    font-size: 16px;
}
.pagination .left-Arrowo img{
    width: 20px;
}
.pagination .right-Aroowo img{
    width: 20px;
}

/* footer Start Page 2 */

.arrow{
    padding: 8px 14px;
    border-radius: 50%;
    cursor: pointer;
}


.footer {
    background: #fff;
    padding: 100px 60px 20px 60px;
    position: relative;
    overflow: visible;
    margin-top: 40px;
}

.footer .arrow-wrapper {
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    text-align: center;
}

 /* Arrow Circle */
.footer .up-arrow {
    display: inline-flex;
    background: blue;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: #fff;
    font-size: 26px;
    font-weight: bold;
    cursor: pointer;
}

.footer-content {
    gap: 20px;
}

.footer-column {
    line-height: 1.8;
}

.footer-column h3 {
    font-weight: 500;
    margin-bottom: 15px;
    color: black ;
}

.footer-column .line {
    width: 50px;
    height: 3px;
    background:  blue;
    border-radius: 2px;
}

.footer-column p {
    font-size: 16px;
    color: black;
    margin-top: 10px;
}

.footer-column ul {
    list-style: none;
    margin-top: 10px;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 8px;
    font-size: 14px;
    color: black;
}

.footer-column ul li a{
    font-size: 14px;
    text-decoration: none;
    color: black;
}

 /* Contact Column */
.contact-item {
    margin: 8px 0;
    font-size: 14px;
    color: black;
}

.contact-item span img{
    margin-right: 10px;
    font-size: 16px;
    color: blue;
}

    /* Social Icons */
.social {
    margin-top: 15px;
    gap: 25px;
}

.social span img {
    width: 32px;
}
.footer-column .line {
    width: 50px;
    height: 3px;
    background:  blue;
    border-radius: 2px;
    margin-bottom: 10px;
}

    
    /* Bottom Bar */
.footer-bottom {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    margin-top: 30px;
    padding-top: 15px;
    margin-bottom: 20px;
    font-size: 16px;
    color: black;
}

.footer-bottom .logo{
    gap: 10px;
}

.footer-bottom img{
    height: 25px;
    margin-left: 10px;
}

.Arrow{
    padding: 8px 14px;
    border-radius: 50%;
    cursor: pointer;
    width: 5px;
    height: 5px;
}


.footer{
    background: #fff;
    padding: 100px 60px 20px 60px;
    position: relative;
    overflow: visible;
    margin-top: 40px;
}

.footer .Arrow-wrapper{
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    text-align: center;
}

 /* Arrow Circle */
.footer .Arrow{
    display: inline-flex;
    background: blue;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: #fff;
    font-size: 26px;
    font-weight: bold;
    cursor: pointer;
}

.footer-content {
    gap: 20px;
}

.footer-column {
    line-height: 1.8;
}

.footer-column h3 {
    font-weight: 500;
    margin-bottom: 15px;
    color: black ;
}

.footer-column .line {
    width: 50px;
    height: 3px;
    background:  blue;
    border-radius: 2px;
}

.footer-column p {
    font-size: 16px;
    color: black;
    margin-top: 10px;
}

.footer-column ul {
    list-style: none;
    margin-top: 10px;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 8px;
    font-size: 14px;
    color: black;
}

.footer-column ul li a{
    font-size: 14px;
    text-decoration: none;
    color: black;
}

 /* Contact Column */
.contact-item {
    margin: 8px 0;
    font-size: 14px;
    color: black;
}

.contact-item span img{
    margin-right: 10px;
    font-size: 16px;
    color: blue;
}

    /* Social Icons */
.social {
    margin-top: 15px;
    gap: 25px;
}

.social span img {
    width: 32px;
}
.footer-column .line {
    width: 50px;
    height: 3px;
    background:  blue;
    border-radius: 2px;
    margin-bottom: 10px;
}

    
    /* Bottom Bar */
.footer-bottom{
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    margin-top: 30px;
    padding-top: 15px;
    margin-bottom: 20px;
    font-size: 16px;
    color: black;
}

.footer-bottom .logo{
    gap: 10px;
}

.footer-bottom img{
    height: 25px;
    margin-left: 10px;
}